
body{
    
    background: url('dc\ 6.jpg');
    background-size: cover;
    background-position: center;
    
    text-align: center;

}

h1{
*
    text-align: center;
    color: rgb(255, 255, 255);
}   

{div {
    height: 200px;
    width: 50%;
    
  }
  
  }
  h2{
    color: brown;
  }